<!-- property binding-->
<h2 [textContent]='description'></h2>
<!-- interpolation -->
<h1>{{title}}</h1>
<nav>
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>

<router-outlet></router-outlet>
<app-message></app-message>

<br>
<p>Notes: </p>
<br>
<p>We are now showing how to setup a Master/ Detail relationship using
  <strong>@Input</strong> in the child component to recieve a value from the parent component.</p>
<p>The HeroDetailComponent will present details of a selected hero.</p>
<p>
  <strong>[hero]="selectedHero"</strong> This sets the [hero] property of the DOM (this maybe an html or template property not the
  same as an html element) to the 'selectedHero' variable of this class.</p>
<p>We are passing the Master component value down to the child template
  <strong>"@Input hero: Hero"</strong>
</p>
<br>