<h2>My Heroes</h2>

<ul class="heroes">
  <li *ngFor="let hero of heroes" [class.selected]="hero === selectedHero" (click)="onSelect(hero)">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
  </li>
</ul>
<br>
<p>We are now showing how to setup a Master/ Detail relationship using <strong>@Input</strong> in the child component to recieve a value from the parent component.</p> 
<p>The HeroDetailComponent will present details of a selected hero.</p>
<p> <strong>[hero]="selectedHero"</strong> This sets the [hero] property of the html element to the 'selectedHero' variable of this class.</p>
<p>We are passing the Master component value down to the child template <strong>"@Input hero: Hero"</strong></p>
<br>
<app-hero-detail [hero] ="selectedHero"  [description] = "title"></app-hero-detail>
<br>
<br>
<br>
<div *ngIf="selectedHero">
  <p><strong>This is the original way:</strong></p>
  <hr>
  <pre>THIS IS FROM THE HEROS COMPONENT (Master)</pre>
  <h2>{{selectedHero.name | uppercase}} Details</h2>
  <div>
    <span>id: </span>{{selectedHero.id}}</div>
  <div>
    <label>name:
      <input [(ngModel)]="selectedHero.name" placeholder="name">
    </label>
  </div>
  <hr>
</div>